* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --textColor1: rgb(53, 53, 53);
}

body {
  background: #ffffff;
  color: var(--textColor1);
  overflow: scroll;
  /*margin: 0 8px;*/
}

.container {
  text-align: center; /*center all*/
  padding-top: 0px;
  color: var(--textColor1);
  height: 100%;
}

h1 {
  font-size: 30pt;
  padding-top: 30px;
  padding-bottom: 60px;
}

p {
  overflow-wrap: break-word;
}

button {
  padding: 12px 32px;
  cursor: pointer;
  border-radius: 1px;
  border: 0px;
  color: black;
  background-color: #e5e4df;
}

button:hover {
  cursor: pointer;
  color: #000;
  background-color: var(--primaryColor);
  border: 2px solid;
}

.error {
  margin: 5px 0;
  color: red;
}
