.ColumnContainer {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  align-items: center;
}

.Button-grid {
  display: flex;
  padding-top: 24px;
  text-decoration: none;
}

.Button {
  font-size: medium;
  margin: 0 auto; /*centrerar*/
}
